@(resetForm:Form[(String, String)], mailToken: String)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(views.html.custom.inputFieldConstructor.f) }

@main( Messages("securesocial.password.title") ) {
<div class="panel marginTop">

    @request.flash.get("error").map { msg =>
    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box alert radius">
                @Messages(msg)
            </div>
        </div>
    </div>
    }

    <form action="@securesocial.controllers.routes.PasswordReset.handleResetPassword(mailToken).absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
          role="form"
            >

        <p>@Messages("securesocial.password.title")</p>

        @CSRF.formField
        @helper.inputPassword(
        resetForm("password.password1"),
        '_label -> Messages("securesocial.signup.password1"),
        'required -> "required"
        )

        @helper.inputPassword(
        resetForm("password.password2"),
        '_label -> Messages("securesocial.signup.password2"),
        '_error -> resetForm.error("password"),
        'required -> "required"
        )

        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="right">
                    <button type="submit" class="button small radius">@Messages("securesocial.password.reset")</button>
                </div>
            </div>
        </div>
    </form>
</div>
}