@(signUpForm:Form[securesocial.controllers.RegistrationInfo], mailToken: String)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.custom.inputFieldConstructor.f) }

@main( Messages("securesocial.signup.title") ) {
<div class="panel marginTop">
    
    @request.flash.get("error").map { msg =>
    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box alert radius">
                @msg
            </div>
        </div>
    </div>
    }

    <form action="@securesocial.controllers.routes.Registration.handleSignUp(mailToken).absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
          role="form"
            >

        <p>@Messages("securesocial.signup.title")</p>

        @CSRF.formField
        @if( UsernamePasswordProvider.withUserNameSupport ) {
        @helper.inputText(
        signUpForm("userName"),
        '_label -> Messages("securesocial.signup.username"),
        'required -> "required"
        )
        }

        @helper.inputText(
        signUpForm("firstName"),
        '_label -> Messages("securesocial.signup.firstName"),
        'required -> "required"
        )

        @helper.inputText(
        signUpForm("lastName"),
        '_label -> Messages("securesocial.signup.lastName"),
        'class -> "input-xlarge"
        )

        @helper.inputPassword(
        signUpForm("password.password1"),
        '_label -> Messages("securesocial.signup.password1"),
        'required -> "required"
        )

        @helper.inputPassword(
        signUpForm("password.password2"),
        '_label -> Messages("securesocial.signup.password2"),
        '_error -> signUpForm.error("password"),
        'required -> "required"
        )

        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="right">
                    <button type="submit" class="button small radius">@Messages("securesocial.signup.createAccount")
                    </button>
                    <a class="button small radius"
                       href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
                </div>
            </div>
        </div>

    </form>
</div>
}