@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(views.html.custom.inputFieldConstructor.f) }

@main( Messages("securesocial.password.title") ) {
<div class="panel marginTop">

    @request.flash.get("error").map { msg =>
    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box alert radius">
                @Messages(msg)
            </div>
        </div>
    </div>

    }

    <form action="@securesocial.controllers.routes.PasswordReset.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
          role="form"
            >

        <p> @Messages("securesocial.password.title")</p>
        @CSRF.formField
        @helper.inputText(
        startForm("email"),
        '_label -> Messages("securesocial.signup.email1"),
        'required -> "required"
        )

        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="right">
                    <button type="submit" class="button small radius">@Messages("securesocial.password.reset")</button>
                    <a class="button small radius"
                       href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
                </div>
            </div>
        </div>
    </form>
</div>
}