@(elements: views.html.helper.FieldElements)

<div class="row @elements.args.get('_class)">
    <div class="small-12  medium-12 large-12 columns">
        <label class="@if(elements.hasErrors) {error}" id="id_@elements.id" for="@elements.id">@elements.label(elements.lang)</label>
    </div>
    <div class="small-12 medium-12 large-12 columns @if(elements.hasErrors) {error}">
        @elements.input
        @if( elements.hasErrors ) {
            <small class="error">@elements.errors(elements.lang).mkString(", ")</small>
        }
    </div>
</div>


