@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader, lang: Lang, env:securesocial.core.RuntimeEnvironment[_])
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@main(Messages("securesocial.login.title")) {
<div class="panel marginTop">

    <div style="margin-top:20px">
    </div>

    @errorMsg.map { msg =>
    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box alert radius">
                @Messages(msg)
            </div>
        </div>
    </div>
    }

    @request.flash.get("success").map { msg =>

    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box info radius">
                @msg
            </div>
        </div>
    </div>
    }

    @request.flash.get("error").map { msg =>

    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box alert radius">
                @msg
            </div>
        </div>
    </div>
    }


    @defining( env.providers.values.filter( _.id != UsernamePassword) ) { externalProviders =>

    @if( externalProviders.size > 0 ) {
    <div class="clearfix">
        <div class="row">
            <div class="small-12 large-12 columns">
                <p>@Messages("securesocial.login.instructions")</p>
                <p>
                    @for(p <- externalProviders) {
                    @views.html.custom.provider(p.id)
                    }
                </p>
            </div>
        </div>
    </div>
    }

    @env.providers.get(UsernamePassword).map { up =>
    <div class="clearfix">
        @views.html.custom.provider("userpass", Some(loginForm))
    </div>
    }
    }
</div>
}
