@()(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@main(Messages("securesocial.notAuthorized.title")) {
<div class="panel marginTop">

    <div class="row">
        <div class="small-12 large-12 columns">
            <h1>@Messages("securesocial.notAuthorized.title")</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box alert radius">
                @Messages("securesocial.notAuthorized.message"), Please do back to <a href="/dashboard">Dashboard</a>
            </div>
        </div>
    </div>
</div>
}