@(passwordChangeForm:Form[securesocial.controllers.ChangeInfo])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.custom.inputFieldConstructor.f) }

@main( Messages("securesocial.passwordChange.title") ) {
<div class="panel marginTop">

    @request.flash.get("error").map { msg =>
    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box alert radius">
                @msg
            </div>
        </div>
    </div>
    }

    @if( request.flash.get("success").isDefined ) {
    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-alert class="alert-box info radius">
                @request.flash.get("success").get
            </div>
        </div>
    </div>

    <div class="form-actions">
        <a class="btn" href="@securesocial.controllers.ProviderControllerHelper.landingUrl">@Messages("securesocial.passwordChange.okButton")</a>
    </div>
    } else {
    <form action="@securesocial.controllers.routes.PasswordChange.handlePasswordChange().absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
          role="form"
            >
            <p>@Messages("securesocial.passwordChange.title")</p>
            @CSRF.formField
            @helper.inputPassword(
            passwordChangeForm("currentPassword"),
            '_label -> Messages("securesocial.passwordChange.currentPassword"),
            'required -> "required"
            )

            @helper.inputPassword(
            passwordChangeForm("newPassword.password1"),
            '_label -> Messages("securesocial.passwordChange.newPassword1"),
            'required -> "required"
            )

            @helper.inputPassword(
            passwordChangeForm("newPassword.password2"),
            '_label -> Messages("securesocial.passwordChange.newPassword2"),
            '_error -> passwordChangeForm.error("newPassword"),
            'required -> "required"
            )

            <div class="row">
                <div class="small-12 large-12 columns">
                    <div class="right">
                        <button type="submit" class="button small radius">
                            @Messages("securesocial.passwordChange.changeButton")
                        </button>
                        <a class="button small radius"
                           href="@securesocial.controllers.ProviderControllerHelper.landingUrl">@Messages("securesocial.signup.cancel")</a>
                    </div>
                </div>
            </div>

    </form>
</div>
}
}