@(providerId: String, loginForm: Option[Form[(String, String)]] = None)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])

@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.Logger
@import helper._
@import play.api.Play

@implicitFieldConstructor = @{ FieldConstructor(views.html.custom.inputFieldConstructor.f) }

@env.providers.get(providerId).map { provider =>
@if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {
@defining( "images/providers/%s.png".format(provider.id) ) { imageUrl =>
<a href="@env.routes.authenticationUrl(provider.id)"> <img src="@routes.Assets.at(imageUrl)"/></a>
}
}

@if( provider.authMethod == UserPassword ) {
<form action='@env.routes.authenticationUrl("userpass")' class="form-horizontal" role="form"
      autocomplete="off" method="POST">

    <p>@Messages("securesocial.login.title")</p>
    @CSRF.formField
    @if( UsernamePasswordProvider.withUserNameSupport ) {
    @helper.inputText(
    loginForm.get("username"),
    '_label -> Messages("securesocial.signup.username"),
    'required -> "required"
    )
    } else {
    @helper.inputText(
    loginForm.get("username"),
    '_label -> Messages("securesocial.signup.email1"),
    'required -> "required"
    )
    }

    @helper.inputPassword(
    loginForm.get("password"),
    '_label -> Messages("securesocial.signup.password1"),
    'required -> "required"
    )

    <div class="row">
        <div class="small-12 large-12 columns">
            <div class="right">
                <button type="submit" class="button small radius">@Messages("securesocial.login.title")</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <p><a href="@env.routes.startResetPasswordUrl">@Messages("securesocial.login.forgotPassword") </a></p>
        </div>
    </div>
    @if(Play.current.configuration.getBoolean("securesocial.registrationEnabled").getOrElse(true) ){
    <div class="row">
        <div class="small-12 large-12 columns">
            <p>@Messages("securesocial.login.signUp") <a href="@env.routes.startSignUpUrl">@Messages("securesocial.login.here")</a>
            </p>
        </div>
    </div>
    }
</form>
}
}.getOrElse {
@*****************************************
* Todo: throw a runtime exception? this might need improvement
*****************************************@
@Logger.error("[securesocial] unknown provider '%s'. Can't render it.".format(providerId))
{ throw new RuntimeException("Unknown provider '%s') }
}