@(message: String)(implicit request: RequestHeader)

@main("Welcome to SocketIo test app") {

<div class="row">
    <div class="large-12 small-12 columns">
        <h1> Messaging with :</h1>
    </div>

</div>

<div class="row" >
    <div class="large-12 small-12 columns" id="messageDiv" style="height: 400px; overflow-y: scroll; border: 1px solid black;" >
        <ul id="messages" style="list-style-type:none;" ></ul>
    </div>
</div>
<hr>
<form id="chatform">
    <div class="row">
        <div class="large-10 small-10 columns">
            <textarea id="text" width="100%" placeholder="Say something..."></textarea>
        </div>
        <div class="large-2 small-2 columns">
            <button id="submitButton" type="submit">Send</button>
        </div>
</form>


<script type="text/javascript">
  $(function() {

  $('#text').val("").focus()
  socket = io.connect();
  socket.on('connect', function () {

   $('<li/>').text("connected").appendTo('#messages')
   });

 socket.on('json', function(data){
    $('<li/>').text('message -> ' + data).appendTo('#messages')
  });
  socket.on('message', function(data){
    $('<li/>').text('message -> ' + data).appendTo('#messages')
  });
  socket.on('message_sent', function(data){
    $('<li/>').text('me: ' + data).appendTo('#messages')
     scroll();
  });
    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }

  $('#chatform').submit(
    function(){
        if (!isBlank($('#text').val())){
          socket.emit('json', $('#text').val(), function (data) {
            $('<li/>').text("sent: " + data).appendTo('#messages')
            scroll();
          });
          }
        $('#text').val("").focus()
        return false;
    })

    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }

    function scroll(){
       $('#messageDiv').scrollTop($('#messageDiv')[0].scrollHeight - $('#messageDiv')[0].clientHeight);
    }

})

</script>
}
